*{

margin:0;
padding:0;

box-sizing:border-box;

font-family:'Poppins',sans-serif;

}

body{

background:#f4f6f8;

display:flex;

justify-content:center;

align-items:flex-start;

min-height:100vh;

padding:30px;

}

.container{

width:100%;

display:flex;

justify-content:center;

}

.card{

background:white;

padding:35px;

border-radius:24px;

box-shadow:

0 8px 30px rgba(0,0,0,.08);

width:100%;

max-width:420px;

text-align:center;

}

.logo{

width:110px;

margin-bottom:15px;

}

h2{

color:#117A43;

font-size:28px;

margin-bottom:5px;

}

.subtitle{

color:#888;

margin-bottom:30px;

}

#userInfo{

font: size 22px;

font-weight:700;

margin-bottom:25px;
line-height:1.5;
}

.box{

text-align:left;

margin-bottom:20px;

}

.box label{

display:block;

margin-bottom:10px;

font-weight:600;

}

select{

width:100%;

height:50px;

border-radius:12px;

padding:0 15px;

border:1px solid #ddd;

appearance:none;

background:white;

font-size:16px;

font-weight:500;

}

.gps-box{

background:#F6F9F7;

border:1px solid #E3EEE7;

padding:20px;

border-radius:16px;

margin-top:20px;

margin-bottom:25px;

text-align:left;

}

.gps-box h4{

margin-bottom:10px;

}

.check-btn{

width:100%;

height:54px;

background:#188C45;

color:white;

border:none;

border-radius:14px;

font-size:16px;

font-weight:700;

cursor:pointer;

}
.check-btn:hover{

background:#13773A;

}
.logout-btn{

width:100%;

height:54px;

background: white;
color:#117A43;
font-size: 16px;
font-weight: 700;
transition: 0.25s;
border: 2px solid #117A43;
box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
border-radius:14px;

margin-top:15px;

cursor:pointer;

}
.logout-btn:hover{

background:#117A43;

color:white;

}
#gps{

line-height:1.6;

font-size:14px;

color:#666;

}
.card{

animation:show .35s ease;

}

@keyframes show{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:translateY(0);

}

}
.info-card{

background:#F6F9F7;

border:1px solid #E3EEE7;

padding:18px;

border-radius:16px;

margin-bottom:15px;

text-align:left;

}

.info-card p{

font-size:14px;

color:#888;

margin-bottom:6px;

}

.info-card span{

font-size:18px;

font-weight:700;

color:#117A43;

}